appdirs
asgiref
atomicwrites
attrs
certifi
cffi
chardet
colorama
cryptography
cycler
decorator
defusedxml
dictdiffer
diff-match-patch
distlib
dj-rest-auth
Django
django-allauth
django-cors-headers
django-excel
django-extensions
django-import-export
django-matplotlib
django-pandas
django-rest-auth
djangorestframework
et-xmlfile
filelock
idna
iniconfig
kiwisolver
lml
MarkupPy
matplotlib
networkx
numpy
oauthlib
odfpy
openpyxl
packaging
pandas
Pillow
pip
pipenv
pluggy
psycopg2
py
pycparser
pyexcel
pyexcel-io
pyexcel-webio
PyJWT
pyparsing
pytest
pytest-django
python-dateutil
python3-openid
pytz
PyYAML
requests
requests-oauthlib
setuptools
six
sqlparse
tablib
texttable
toml
urllib3
virtualenv
virtualenv-clone
whitenoise
xlrd
xlwt
django-environ